{% extends 'base.html.twig' %}

{% block title %}{% trans %}Forgot your password ?{% endtrans %}{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">{% trans %}Forgot your password ?{% endtrans %}</h1>
    {#{{ form(emailForm) }}#}
    {{ form_start(emailForm) }}
    {{ form_row(emailForm.email) }}
    <p><div class="d-flex justify-content-end">{{ form_row(emailForm.envoyer) }}</div></p>
    {{ form_end(emailForm) }}

{% endblock %}
