{% extends 'base.html.twig' %}

{% block title %}Inscription blog ChessTeam{% endblock %}

{% block body %}
    <h1>Inscrivez-vous !</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.login) }}
    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.Password) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <p><div class="d-flex justify-content-end"><button class="btn btn-lg btn-success">S'inscrire</button></div></p>

    {{ form_end(registrationForm) }}

{% endblock %}
