{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}



{% block body %}
    <h1>Ajoutez un nouveau article</h1>

    {{ form_start(articleForm) }}
    {{ form_row(articleForm.categories) }}
    {{ form_row(articleForm.art_title) }}
    {{ form_row(articleForm.art_description) }}
    {{ form_row(articleForm.art_content) }}
    {{ form_row(articleForm.art_slug) }}
    {{ form_row(articleForm.mots_cles) }}
    {{ form_row(articleForm.art_image) }}


    <p><div class="d-flex justify-content-end"><button class="btn btn-lg btn-success">Ajouter</button></div></p>

    {{ form_end(articleForm) }}

{% endblock %}
