{% extends 'base.html.twig' %}

{% block title %}{% trans %}Add new article{% endtrans %}{% endblock %}



{% block body %}
    <h1>{% trans %}Add new article{% endtrans %}</h1>

    {{ form_start(articleForm) }}
    {{ form_row(articleForm.categories) }}
    {{ form_row(articleForm.art_title) }}
    {{ form_row(articleForm.art_description) }}
    {{ form_row(articleForm.art_content) }}
    {{ form_row(articleForm.art_slug) }}
    {{ form_row(articleForm.mots_cles) }}
    {{ form_row(articleForm.art_image) }}


    <p><div class="d-flex justify-content-end"><button class="btn btn-lg btn-success">{% trans %}Submit{% endtrans %}</button></div></p>

    {{ form_end(articleForm) }}

{% endblock %}
