{% extends 'base.html.twig' %}

{% block title %}{{ article.artTitle }}{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>{{ article.artTitle }}</h1>
    <p>{% trans %}Published by {% endtrans %} {{ article.user.login|upper }} {% trans %} on {% endtrans %} {{ article.artCreatedAt|date('d/m/Y')}} {% trans %}at{% endtrans %} {{ article.artCreatedAt|date('h\\hi') }} </p>
    <div>{{ article.artContent|raw }}</div>
    <img src="{{ article.artImage }}" alt="image de l'article">
    <p> {% trans %} Categories {% endtrans %} :
        {% for categorie in article.categories %}
            {{ categorie.catTitle }}
        {% endfor %}
    </p>

    <h3>{% trans %}Comments{% endtrans %} : {{ commentaires|length }}</h3>
    {% for commentaire in commentaires %}
        <p>{% trans %}Comment written by{% endtrans %} {{ commentaire.user.login|upper }} {% trans %}on{% endtrans %} {{ commentaire.comCreatedAt|date('d/m/Y')}} {% trans %}at{% endtrans %} {{ commentaire.comCreatedAt|date('h\\hi') }} </p>
        <p>{{ commentaire.comContent }}</p>
    {% else %}
        <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
    {% endfor %}



    {% if app.user %}
        <h3>Ajouter un commentaire</h3>
        {#{{ form(commentForm) }}#}
        {{ form_start(commentForm) }}
        {#{{ form_row(commentForm.email_author) }}#}
        {{ form_row(commentForm.com_content) }}
        {{ form_row(commentForm.rgpd) }}
        <p>{{ form_row(commentForm.Envoyer) }}</p>
        {{ form_end(commentForm) }}
    {% else %}
        <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
    {% endif %}

{% endblock %}