{% extends 'base.html.twig' %}

{% block title %}{{ article.artTitle }}{% endblock %}

{% block body %}
    <h1>{{ article.artTitle }}</h1>
    <p>{{ article.artCreatedAt|date }} - Commentaires : {{ commentaires|length }}</p>
    <div>{{ article.artContent|raw }}</div>
    <img src="{{ article.artImage }}" alt="image de l'article">
    <p>Catégories :
        {% for categorie in article.categories %}
            {{ categorie.catTitle }}
        {% endfor %}
    </p>

    <h2>Commentaires</h2>
    {% for commentaire in commentaires %}
        <p>Commentaire écrit par {{ commentaire.user.login }} le {{ commentaire.comCreatedAt|date }}</p>
        <p>{{ commentaire.comContent }}</p>
    {% else %}
        <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
    {% endfor %}



    {% if app.user %}
        <h2>Ajouter un commentaire</h2>
        {#{{ form(commentForm) }}#}
        {{ form_start(commentForm) }}
        {#{{ form_row(commentForm.email_author) }}#}
        {{ form_row(commentForm.com_content) }}
        {{ form_row(commentForm.rgpd) }}
        <p>{{ form_row(commentForm.Envoyer) }}</p>
        {{ form_end(commentForm) }}
    {% else %}
        <h2>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
    {% endif %}

{% endblock %}