<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="jumbotron">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link-nav active" href="{{ path('accueil') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-nav" href="#">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-nav" href="{{ path('actualites_articles') }}">Articles</a>
        </li>
        {% if app.user %} {#isConnected in PHP#}
            <li class="nav-item">
                <a class="nav-link-nav" href="#">Mon Compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-nav" href="#">Mes articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-nav" href="#">Créer article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-nav" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link-nav" href="{{ path('app_login') }}">Connection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-nav" href="{{ path('app_register') }}">Inscription</a>
            </li>
        {% endif %}
    </ul>
</div>
<h1 class="test">Bonjour, je vous rappelle que le site est en phase de test</h1>

{# Le block body sera dans un container bootstrap #}
<div class="container">
    {% block body %}{% endblock %}
</div>
<footer class="">
    <div class="pied-page">
        <div class="middle">
            <ul class="menu">
                <li class="item" id="profile">
                    <a class="btn" href="#profile">Notre adresse</a>

                    <div class="smenu">
                        <h5>15 rue Général Faidherbe</h5>
                        <h5>94130 Nogent sur Marne</h5>
                        <h5>0783554817</h5>
                        <h5>cnvvc_vlad@yahoo.fr</h5>
                    </div>
                </li>
                <li class="item" id="message">
                    <a class="btn" href="#message">Réseaux Sociaux</a>
                    <div class="smenu">
                        <a href="">Facebook<span class="icon-facebook"></span> </a>
                        <a href="">Twitter<span class="icon-twitter"></span> </a>
                        <a href="">Whatsapp<span class="icon-whatsapp"></span> </a>
                    </div>
                </li>
                <li class="item" id="settings">
                    <a class="btn" href="#settings">FAQ/CGU</a>
                    <div class="smenu">
                        <a href="{{ path('questions') }}">Questions fréquentes</a>
                        <a href="{{ path('conditions') }}">Conditions d'utilisations</a>
                        <a href="{{ path('mentions_legales') }}">Mentions légales</a>
                    </div>
                </li>
                <li class="item">
                    <a class="btn" target="_blank" href="https://chess.com">Chess.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright d-flex justify-content-center">
        <p>&copy; Copyright 2019 </p>
    </div>

</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/caroussel.js') }}"></script>
{% endblock %}
</body>

</html>
